/* GENERAL */

#enterprise {
  position: relative;
  bottom: 50px;
}

#warbird {
  position: relative;
  bottom: 50px;
}

body {
  color: #ffffff;
  background-color: #fff;
  text-align: center;
}

button {
  display: block;
}

#myBtn {
  margin: 0 10px;
  padding: 0;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;

}

.img-responsive,
.thumbnail > img,
.thumbnail a > img {
    display: block;
    width: 20%;
    height: auto;
}

h1 {
  color: white;
  text-align: center;

}


header {
  float: left;
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
  width: 100%;
}

.starship {
  display: block;
  float: both;
  width: 75px;
  height: auto;
  margin: 0 auto 30px;

}


a {
  color: #6ab47b;
}
