#about {
    margin: 30px auto;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

#secondary {
    margin: 0 auto;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }
/* Medium screens */
@media (min-width: 992px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;

   /* PAGE: ABOUT
   */

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }
}


/* Small screens */
@media (min-width: 768px) and (max-width: 800px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  /* HEADER
   */

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }

  header {
    margin-bottom: 66px;
  }

}
